/* Your style rules go here: */
body {
    margin: auto;
    margin-top: 40px;
    width: 960px;
    font-family: Arial;
}

/* note style */
.note {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    background-color: #0EE;
}

li {
    line-height : 1.5em;
}
/* highlighted bullet points*/
.important {
    background-color: yellow;
    display:inline-block;
}
